services:
  airflow:
    build:
      context: .
      dockerfile: Dockerfile.airflow
    container_name: ${AIRFLOW_CONTAINER_NAME}
    hostname: ${AIRFLOW_HOST_NAME}
    entrypoint: /scripts/airflow_entrypoint.sh
    restart: always
    volumes:
      - ../dags:/opt/airflow/dags
      - ../data:/opt/airflow/data
    ports:
      - 8080:8080
    environment:
      - AIRFLOW__CORE__DAGS_FOLDER=/opt/airflow/dags
      - AIRFLOW__CORE__EXECUTOR=SequentialExecutor
      - AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=sqlite:////opt/airflow/airflow.db
      - AIRFLOW__WEBSERVER__DEFAULT_USER_USERNAME=admin
      - AIRFLOW__WEBSERVER__DEFAULT_USER_PASSWORD=admin
      - AIRFLOW__WEBSERVER__DEFAULT_USER_EMAIL=admin@example.com
      - AIRFLOW__WEBSERVER__DEFAULT_USER_FIRSTNAME=Airflow
      - AIRFLOW__WEBSERVER__DEFAULT_USER_LASTNAME=Admin
  # ================================ DB ================================
  mysql:
    image: quay.io/debezium/example-mysql:2.6
    container_name: mysql
    env_file:
      - ./db/.env
    ports:
      - 3303:3306
    profiles:
      - mysql
      - db
